target
workspace
.metadata/*
.recommenders/*
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.claude/settings.local.json
name.vloiseau.portfolio.graphql/web/*
!name.vloiseau.portfolio.graphql/web/.gitkeep

portfolio-react-ui/dist
portfolio-react-ui/node